.container{
    width: 750px;
    height: 110px;
    background-color: azure;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    padding: 10px;
    grid-template-columns: 180px 180px 180px 180px;
    gap: 10px 10px;
}
.box1,.box2,.box3,.box4,.box6,.box7 {
    height: 50px;
    background-color: lightcoral;
    text-align: center;
    line-height: 50px;
    
}
.box5{
    height: 50px;
    background-color: lightcoral;
    text-align: center;
    line-height: 50px;
    grid-column: span 2;
  
}