.container{
    font-family: 'Times New Roman', Times, serif;
    width: 800px;
    height: 150px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    gap: 10px 10px;
}
.box1,.box2,.box3,.box4,.box5,.box6{
    background-color: rgb(141, 119, 161);
    color: white;
   height: 50px;
   border-radius: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  
}
.box7,.box8{
    background-color: rgb(141, 119, 161);
    color: white;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

